In [4]:
import numpy as np
import pandas as pd

In [5]:
onbord = pd.read_excel("TravelBehaviorInventory2016TransitOnBoardSurvey.xlsx")
onbord.head()

,ID,DATE,ROUTE_SURVEYED_CODE,ROUTE_SURVEYED,HOME_OR_HOTEL_ADDR_CITY,HOME_OR_HOTEL_ADDR_STATE,HOME_OR_HOTEL_ADDR_ZIP,HOME_OR_HOTEL_ADDR_LAT_100M,HOME_OR_HOTEL_ADDR_LON_100M,BOARDING_LOCATION,...,Linked_Weight-AE,Payment_Type_,Route,Boarding,Boarding_Student,WGHT_NAME_Student,c_pass_factor,upass_factor,HS_Pass_factor,Exp_Student
0,1,2016-04-11 00:00:00,MMTBLUE01,BLUE METRO Blue Line [SB],Minneapolis,Minnesota,55417,44.902,-93.223,Warehouse Hennepin Ave Station,...,1.503167,non-student,Blue,HL 101 Warehouse Station,HL 101 Warehouse Station-non-student,BLUE_S_2_7_4_non-student,2.183063,1.752921,1.615427,1.0
1,2,2016-04-11 00:00:00,MMTBLUE01,BLUE METRO Blue Line [SB],Minneapolis,Minnesota,55404,44.955,-93.246,38th St Station,...,1.125093,non-student,Blue,HL 108 38th Street Station,HL 108 38th Street Station-non-student,BLUE_S_2_3_1_non-student,2.190437,0.946854,3.431832,1.0
2,3,2016-04-11 00:00:00,MMT500,5 Brklyn Center - Fremont - 26th Av - Chicago ...,Minneapolis,Minnesota,55411,45.01,-93.301,Chicago Ave S & 25th St E,...,20.691333,non-student,5,5,5-non-student,5_N_2_2_3_non-student,0.623818,0.236022,1.152726,1.0
3,4,2016-04-11 00:00:00,MMTBLUE00,BLUE METRO Blue Line [NB],Eagan,Minnesota,55123,44.83,-93.153,MOA Transit Station,...,1.399982,non-student,Blue,HL 117 Mall Of America Station,HL 117 Mall Of America Station-non-student,BLUE_N_3_1_7_non-student,3.635399,3.457949,4.317363,1.0
4,5,2016-04-11 00:00:00,MMTBLUE00,BLUE METRO Blue Line [NB],St Paul,Minnesota,55105,44.94,-93.144,VA Medical Center Station,...,6.951580,non-student,Blue,HL 111 Veterans Medical Center Sta,HL 111 Veterans Medical Center Sta-non-student,BLUE_N_3_4_6_non-student,1.843609,3.231443,1.501410,1.0

In [6]:
transfer = onbord[onbord["TRANSFERS_FROM_CODE"]==1]
transfer.head()

,ID,DATE,ROUTE_SURVEYED_CODE,ROUTE_SURVEYED,HOME_OR_HOTEL_ADDR_CITY,HOME_OR_HOTEL_ADDR_STATE,HOME_OR_HOTEL_ADDR_ZIP,HOME_OR_HOTEL_ADDR_LAT_100M,HOME_OR_HOTEL_ADDR_LON_100M,BOARDING_LOCATION,...,Linked_Weight-AE,Payment_Type_,Route,Boarding,Boarding_Student,WGHT_NAME_Student,c_pass_factor,upass_factor,HS_Pass_factor,Exp_Student
0,1,2016-04-11 00:00:00,MMTBLUE01,BLUE METRO Blue Line [SB],Minneapolis,Minnesota,55417,44.902,-93.223,Warehouse Hennepin Ave Station,...,1.503167,non-student,Blue,HL 101 Warehouse Station,HL 101 Warehouse Station-non-student,BLUE_S_2_7_4_non-student,2.183063,1.752921,1.615427,1.0
1,2,2016-04-11 00:00:00,MMTBLUE01,BLUE METRO Blue Line [SB],Minneapolis,Minnesota,55404,44.955,-93.246,38th St Station,...,1.125093,non-student,Blue,HL 108 38th Street Station,HL 108 38th Street Station-non-student,BLUE_S_2_3_1_non-student,2.190437,0.946854,3.431832,1.0
3,4,2016-04-11 00:00:00,MMTBLUE00,BLUE METRO Blue Line [NB],Eagan,Minnesota,55123,44.83,-93.153,MOA Transit Station,...,1.399982,non-student,Blue,HL 117 Mall Of America Station,HL 117 Mall Of America Station-non-student,BLUE_N_3_1_7_non-student,3.635399,3.457949,4.317363,1.0
7,8,2016-04-12 00:00:00,MMTGREEN01,GREEN METRO Green Line [WB],St Paul,Minnesota,55114,44.965,-93.205,Capitol / Rice St Station,...,4.685700,non-student,Green,LR 314 MetroGrnStat Capitol/Rice St,LR 314 MetroGrnStat Capitol/Rice St-non-student,GREEN_W_3_6_6_non-student,0.815385,1.282033,0.886454,1.0
10,11,2016-04-12 00:00:00,MMTGREEN00,GREEN METRO Green Line [EB],St Paul,Minnesota,55104,44.961,-93.156,Nicollet Mall Station,...,2.751948,non-student,Green,HL 102 Nicollet Mall Station,HL 102 Nicollet Mall Station-non-student,GREEN_E_3_2_6_non-student,0.986364,2.202918,1.449734,1.0

In [7]:
transfer_onbord = transfer.loc[:,["ID", "DATE", "ROUTE_SURVEYED", "BOARDING_LOCATION", "BOARDING_LAT", "BOARDING_LON", "TRANSFERS_FROM_FIRST", "ORIGIN_LAT_100M", "ORIGIN_LON_100M", "TIME_ON"]]
transfer_onbord.head()

,ID,DATE,ROUTE_SURVEYED,BOARDING_LOCATION,BOARDING_LAT,BOARDING_LON,TRANSFERS_FROM_FIRST,ORIGIN_LAT_100M,ORIGIN_LON_100M,TIME_ON
0,1,2016-04-11 00:00:00,BLUE METRO Blue Line [SB],Warehouse Hennepin Ave Station,44.980003,-93.273144,6 U of M - Hennepin - Xerxes - France - Southd...,44.948,-93.299,12:00 pm - 1:00 pm
1,2,2016-04-11 00:00:00,BLUE METRO Blue Line [SB],38th St Station,44.934613,-93.229421,22 Brklyn Ctr - Lyndale Av N - Cedar - 28th Av...,44.955,-93.246,12:00 pm - 1:00 pm
3,4,2016-04-11 00:00:00,BLUE METRO Blue Line [NB],MOA Transit Station,44.854287,-93.238861,RED METRO Red Line [ Minnesota Valley Transit ],44.830,-93.153,4:00 - 5:00 pm
7,8,2016-04-12 00:00:00,GREEN METRO Green Line [WB],Capitol / Rice St Station,44.955749,-93.105534,62 Rice St - Little Canada - Shoreview - Signa...,45.107,-93.127,3:00 - 4:00 pm
10,11,2016-04-12 00:00:00,GREEN METRO Green Line [EB],Nicollet Mall Station,44.978491,-93.269912,18 Nicollet Av - South Bloomington [ Minneapol...,44.947,-93.278,4:00 - 5:00 pm

In [8]:
import re

In [9]:
p = re.compile(r"(\w+)")

In [10]:
df = transfer_onbord["TRANSFERS_FROM_FIRST"]
df.head()

0     6 U of M - Hennepin - Xerxes - France - Southd...
1     22 Brklyn Ctr - Lyndale Av N - Cedar - 28th Av...
3       RED METRO Red Line [ Minnesota Valley Transit ]
7     62 Rice St - Little Canada - Shoreview - Signa...
10    18 Nicollet Av - South Bloomington [ Minneapol...
Name: TRANSFERS_FROM_FIRST, dtype: object

In [11]:
df.dropna(inplace = True)

In [12]:
df1 = df.str.extract(p)
df1.rename(columns = {0:"route_type"}, inplace = True)
df1.head()

   route_type
0           6
1          22
3         RED
7          62
10         18

In [13]:
transfer_onboard = transfer_onbord.join(df1)
transfer_onboard.head()

,ID,DATE,ROUTE_SURVEYED,BOARDING_LOCATION,BOARDING_LAT,BOARDING_LON,TRANSFERS_FROM_FIRST,ORIGIN_LAT_100M,ORIGIN_LON_100M,TIME_ON,route_type
0,1,2016-04-11 00:00:00,BLUE METRO Blue Line [SB],Warehouse Hennepin Ave Station,44.980003,-93.273144,6 U of M - Hennepin - Xerxes - France - Southd...,44.948,-93.299,12:00 pm - 1:00 pm,6
1,2,2016-04-11 00:00:00,BLUE METRO Blue Line [SB],38th St Station,44.934613,-93.229421,22 Brklyn Ctr - Lyndale Av N - Cedar - 28th Av...,44.955,-93.246,12:00 pm - 1:00 pm,22
3,4,2016-04-11 00:00:00,BLUE METRO Blue Line [NB],MOA Transit Station,44.854287,-93.238861,RED METRO Red Line [ Minnesota Valley Transit ],44.830,-93.153,4:00 - 5:00 pm,RED
7,8,2016-04-12 00:00:00,GREEN METRO Green Line [WB],Capitol / Rice St Station,44.955749,-93.105534,62 Rice St - Little Canada - Shoreview - Signa...,45.107,-93.127,3:00 - 4:00 pm,62
10,11,2016-04-12 00:00:00,GREEN METRO Green Line [EB],Nicollet Mall Station,44.978491,-93.269912,18 Nicollet Av - South Bloomington [ Minneapol...,44.947,-93.278,4:00 - 5:00 pm,18

In [ ]:
transfer_onboard.to_csv("on_board.csv")